.header__logo{
    max-width: 142px;
    margin: 0 0 41px 0;
}

@media screen and (max-width: 864px){
    .header__logo{
        max-width: 104px;
        height: 25px;
        margin: 0 0 0 26px;
    }
}