.page{
    background-color: #000000;
    min-width: 320px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 45px 200px 60px;
}

@media screen and (max-width: 1190px){
    .page{
        padding: 28px 0 36px;
    }
}