.popup__input-line{
    max-width: 358px;
    margin: 0 36px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    height: 27px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    outline: none;
}

.popup__input-line:first-of-type{
    margin-top: 30px;
}

@media screen and (max-width: 864px){
    .popup__input-line{
        max-width: 238px;
        margin: 0 22px 30px;
    }
}