.profile__add-button{
    padding: 0;
    width: 150px;
    height: 50px;
    background-color: #000000;
    background-image: url(../../../images/crestic.svg);
    grid-column: 3;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px #FFFFFF solid;
    align-self: center;
    justify-self: end;
}

.profile__add-button:hover{
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 864px){
    .profile__add-button{
        grid-column: 1;
        width: 100%;
        margin: 36px 0 0;
    }
}